
:root{
    --extra-background-color: rgba(44, 44, 47, 1);
    --text-color: rgb(255, 255, 255);
    --textFamily-font-family:"Inter";
    --textFamilyW-font-weight:900;
    --header-height: 75px;
}
body{
    background-color: rgba(205, 206, 210, 1);
    padding: 0;
    margin: 0;
}
.header{
    background-color: var(--extra-background-color);
    width: 100%;
    height:var(--header-height);
    z-index: 10;
    display: flex;
    position: fixed;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header_logo{
    width:var(--header-height);
    height:var(--header-height);
    background-color: brown;
    margin-right: 200px;
}

.header_btn{
    margin-right: 70px;
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--textFamily-font-family);
    font-weight: var(--textFamilyW-font-weight);
    font-size: 24px;
}

.topContent{
    width: 100%;
    height: 100vh;
    background:linear-gradient(58deg, rgba(160,177,179,0.18) 0%, rgba(128,157,158,1) 100%) ;
}

.topContent_text{
    position: relative;
    display:inline;
    left:20px;
    top: 100px;
    z-index: 2;
    font-family: var(--textFamily-font-family);
    font-weight: var(--textFamilyW-font-weight);
    font-size: 96px;
    text-shadow: 9px 8px 9.5px #47474731;
}

.topContent_img{
    position: absolute;
    bottom: 0vh;
    right: 0;
    width: 90vw;
}

.topContent_dow{
    position: relative;
    width: 450px;
    height: 150px;
    left: 20px;
    top: 50vh;
    z-index: 2;
    background-color: var(--extra-background-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topContent_dow_btn{
    font-family: var(--textFamily-font-family);
    font-weight: var(--textFamilyW-font-weight);
    font-size: 32px;
    color: white;
}

.topContent_dow_a{
    position: absolute;
    top: -30px;
    left: 10px;
    font-family: var(--textFamily-font-family);
    font-weight: var(--textFamilyW-font-weight);
    font-size: 24px;
    color:var(--extra-background-color);
}
.topContent_grad{
    position: absolute;
    bottom: -2vh;
    height: 350px;
    width: 100%;
    background: linear-gradient(180deg, #cdced200 0%, #CDCED2 90%);
}

.content{
    position: absolute;
    height: 3000px;
    width: 100px;
}
