:root{
    --extra-background-color: rgba(44, 44, 47, 1);
    --text-color: rgb(255, 255, 255);
    --textFamily-font-family:"Inter";
}
body{
    background-color: rgba(205, 206, 210, 1);
    padding: 0;
    margin: 0;
}
.header{
    background-color: var(--extra-background-color);
    --header-width: 150px;
    height: 100%;
    z-index: 10;
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.header_logo{
    width: var(--header-width);
    height: var(--header-width);
    background-color: brown;
    margin-bottom: 200px;
}

.header_btn{
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 100px;
    padding-left: 20px;
    font-family: var(--textFamily-font-family);
    font-weight: 900;
    font-size: 24px;
}

.topContent{
    width: 100%;
    height: 100vh;
    background:linear-gradient(58deg, rgba(160,177,179,0.18) 0%, rgba(128,157,158,1) 100%) ;
}
.topContent_img{
    position:absolute;
    bottom: 0vh;
}
