:root{
    --extra-background-color: rgba(44, 44, 47, 1);
    --text-color: rgb(255, 255, 255);
    --textFamily-font-family:"Inter";
    --textFamilyW-font-weight:900;
}
body{
    background-color: rgba(205, 206, 210, 1);
    padding: 0;
    margin: 0;
}
.header{
    background-color: var(--extra-background-color);
    --header-width: 150px;
    height: 100vh;
    z-index: 10;
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.header_logo{
    width: var(--header-width);
    height: var(--header-width);
    background-color: brown;
    margin-bottom: 200px;
}

.header_btn{
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 100px;
    padding-left: 20px;
    font-family: var(--textFamily-font-family);
    font-weight: var(--textFamilyW-font-weight);
    font-size: 24px;
}

.topContent{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(58deg, rgba(160,177,179,0.18) 0%, rgba(128,157,158,1) 100%) ;
}

.topContent_text{
    position: relative;
    display:inline;
    left:200px;
    top: 60px;
    font-family: var(--textFamily-font-family);
    font-weight: var(--textFamilyW-font-weight);
    font-size: 96px;
    text-shadow: 9px 8px 9.5px #47474731;
}

.topContent_img{
    position: absolute;
    bottom: 0vh;
    right: 0;
    width: 90vw;
}

.topContent_dow{
    position: relative;
    width: 450px;
    height: 150px;
    background-color: var(--extra-background-color);
    left: 200px;
    top: 50vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topContent_dow_btn{
    font-family: var(--textFamily-font-family);
    font-weight: var(--textFamilyW-font-weight);
    font-size: 32px;
    color: white;
}

.topContent_dow_a{
    position: absolute;
    top: -30px;
    left: 10px;
    font-family: var(--textFamily-font-family);
    font-weight: var(--textFamilyW-font-weight);
    font-size: 24px;
    color:var(--extra-background-color);
}
